* {
      padding: 0;
      margin: 0;
      border: 0;
      box-sizing: border-box;
      scroll-behavior: smooth;
}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


ol, ul {
	list-style: none;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

a{
      text-decoration:none;
      color: black;
}

img{
      width: 100%;
}

li{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      color: #1C1B1B;
}

main{
      margin: 0 auto;
}



h1{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 70px;
}

h2{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #000000;
}

h3{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
}

h4{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      text-align: center;

      color: #000000;
}

h6{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 23px;
      color: #FFFFFF;
}


footer{
      padding-top: 2rem;
      padding-bottom: 2rem;
      background: #000000;
}

$mt:50px;

$txtdf:17px;

%flexcolumn{
      display: flex;
      flex-direction: column;
}

%flexrow{
      display: flex;
      flex-direction: row;
}



.container-main {
      margin: 0 auto;
      max-width: 95%;
}
.main-nav {
height: 50px;
@extend %flexrow;
justify-content: space-between;
align-items: center;

		&__list {
            @extend %flexrow;
		}

		&__item {
            margin-right: 20px;
		}

		&__link {
		}

		&__logo {
            display: flex;
            align-items: center;
		}

		&__actions {
            @extend %flexrow;
            align-items: center;
		}

		&__img {
            display: flex;
            align-items: center;
		}
}
.section-fall {
background: #F0EFEB;

		&__container {
            max-width: 1050px;
            margin: 0 auto;
            @extend %flexrow;
            justify-content: space-between
		}

		&__text {
            @extend %flexcolumn;
            justify-content: space-around;
            width: 50%;
		}

		&__fall-in-love {
		}

		&__get-to-know {
		}

		&__button {
            max-width: 130px;
		}

		&__btn {
            color: #ffffff;
            border-radius: 100px;
            width: 150px;
            height: 36px;
            background: #000000;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: $txtdf;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
            margin: 0;
		}

		&__img {
		}

		&__pad-img {
            width: 100%;
		}
}
.section-guides {
      margin-top: $mt;
      margin-bottom: 100px;

		&__container {
            max-width: 1050px;
            margin: 0 auto;
            @extend %flexcolumn;
            gap: 5vh;
		}

		&__text {
            @extend %flexcolumn;
            gap: 20px;
		}

		&__our-guides {
		}

		&__are-you {
		}

		&__sellers {
		}

		&__our-best {
		}

		&__pads {
            @extend %flexrow;
            justify-content: space-between;
		}

		&__pad {
            max-width: 28%;
            @extend %flexcolumn;
            gap: 10px;
		}

		&__pad-img {
                  align-self: center;
		}

		&__pad-title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: $txtdf;
            line-height: 20px;
            text-align: center;
            color: #000000;
		}

		&__pad-price {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: $txtdf;
            line-height: 20px;
            /* identical to box height */
            text-align: center;
            color: #000000;
		}

		&__action {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: $txtdf;
            line-height: 20px;
            text-align: center;
            text-decoration-line: underline;
            color: #000000;
		}

            &__available {
		}
}

.section-pads {
      background: rgba(204, 204, 204, 0.3);

		&__container {
            max-width: 1050px;
            margin: 0 auto;
            @extend %flexcolumn;
		}

		&__pads-info {
            @extend %flexrow;
            gap: 30px;
            margin-top: $mt;
            margin-bottom: $mt;
		}

		&__padimg {
            @extend %flexcolumn;
            justify-content: space-around;
		}

		&__big-pad-info {
            @extend %flexcolumn;
            justify-content: space-around;
            max-width: 50%;
		}

		&__padtitle {
		}

		&__pad-description {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 36px;
            color: #000000;
		}
}
.section-pads--reverse {
      flex-direction: row-reverse;
}
.reverse {
      flex-direction: row-reverse;
}
.footer {
      max-width: 1050px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 1rem;

		&__footerlogo {
            @extend %flexcolumn;
            max-width: 130px;
            gap: 20px;
		}

		&__medialogo {
            display: flex;
            justify-content: flex-start;
            max-width: 26px;
		}

		&__mediaimg {
            max-width: 26px;
            margin-right: 20px;
		}

		&__footerlinks {
            display: flex;
            justify-content: flex-end;
		}

		&__footli {
            margin: 0px 0px;
            margin-top: 3vh;
		}
}

.list{
      display: flex;

      &__item{
            margin-right: 50px;
      }
}

.container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
  }
  
  .header {
      box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);
  }
  
  .header__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  
  .header__burger-btn {
      display: none;
      position: relative;
      width: 40px;
      height: 40px;
      border: none;
      background-color: transparent;
      z-index: 2;
  }
  
  .header__burger-btn span {
      position: absolute;
      width: 30px;
      height: 3px;
      background-color: black;
      left: 5px;
      transition: transform .1s, opacity .1s, background-color .1s;
  }
  
  .header__burger-btn span:nth-child(1) {
      transform: translateY(-10px);
  }
  
  .header__burger-btn span:nth-child(3) {
      transform: translateY(10px);
  }
  
  .header.open .header__burger-btn span {
      background-color: white;
  }
  
  .header.open .header__burger-btn span:nth-child(1) {
      transform: translateY(0) rotate(45deg);
  }
  
  .header.open .header__burger-btn span:nth-child(2) {
      opacity: 0;
  }
  
  .header.open .header__burger-btn span:nth-child(3) {
      transform: translateY(0) rotate(-45deg);
  }
  
  .logo {
      display: block;
  }
  
  .logo__img {
      width: 100px;
  }
  
  .menu__list {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
  }
  
  .menu__item:not(:last-child) {
      margin-right: 20px;
  }
  
  .menu__link {
      font-size: 16px;
  }

.h2guides{
      margin-top: 50px;
}

  .slider {
	max-width: 500px;
	min-height: 250px;
	margin: 30px auto;
}
.slider__container {
	width: 100%;
	height: 100%;
}
.slider__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slider__dots {
	padding: 1rem 0;
	text-align: center;
}
.slider__dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #a0a1a9;
	border-radius: 50%;
	display: inline-block;
}
.slider__dot.activ,
.slider__dot:hover {
	background-color: #2c3878;
}
.slider__controls {
	padding-top: 1rem;
	text-align: center;
}
.slider__nav {
	cursor: pointer;
	padding: 0.5rem 0.5rem;
}
.slider__nav-left {
      border-radius: 10px;
}
.slider__nav-right {
      border-radius: 10px;
}

.accordion {
	width: 500px;
	margin: 50px auto;
}
.accordion-head {
	cursor: pointer;
	text-align: center;
	margin: 25px 0;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      text-align: center;
      color: #000000;
}
.accordion-head.active-p + .accordion-block {
	display: block;
}

.accordion-head.active-style {
	color: #2c3878;
	font-weight: 900;
}

.accordion-block {
	max-height: 0;
	opacity: 0;
	transition: all 0.3s ease-out;
	overflow: hidden;
	/* display: none; */
	font-size: 22px;
	line-height: 32px;
	text-align: justify;
	border-radius: 15px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04), 0 4px 20px rgba(0, 0, 0, 0.1);
	padding: 25px;
	background-color: #f0f0f0;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #000000;
}
.accordion-block.active-content {
	opacity: 1;
	overflow: visible;
}
.cookies {
	position: fixed;
	z-index: 100;
	left: 2rem;
	bottom: 2rem;
	padding: 16px;
	max-width: 416px;
	border-radius: 10px;
	color: #000000;
	background-color: #e7e7e7;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04), 0 4px 20px rgba(0, 0, 0, 0.1);
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
      font-family: "Roboto";
}
.cookies__btn {
	cursor: pointer;
	background-color: #000000;
	padding: 10px 24px;
	border-radius: 6px;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	margin-left: 15px;
      color: #ffffff;
}
.cookies__descr {
}
.cookies__link {
	text-decoration: underline;
	color: rgb(0, 0, 255);
}

.info {
	padding: 50px 0;
}
.info-title {
	font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #000000;
}

.info-header {
	display: flex;
	justify-content: space-evenly;
	margin: 25px 0;
	flex-wrap: wrap;
}
.info-header-tab {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      color: #000000;
	margin-right: 15px;
	padding: 10px;
	text-align: center;
}

.info-tabcontent {
	padding: 25px;
	margin: 25px auto;
	width: 90%;
	background: #ffffff;
	border: 0.5px solid #e3e3e3;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.photo {
	margin-bottom: 20px;
}
.photo img {
	width: 100%;
}

.description-title {
	font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #000000;
	line-height: 140%;
	color: #333333;
	margin-bottom: 20px;
}
.description-text {
	font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 36px;
      color: #000000;
	line-height: 160%;
	margin-bottom: 20px;
}
.description-btn {
	padding: 5px 10px;
	background: #f8f8f8;
	color: #000000;
	font-size: 14px;
	line-height: 150%;
	align-self: auto;
      border-radius: 5px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin-left: 50px;
}
.info .hide {
	display: none;
}
.info .show {
	display: block;
      max-width: 500px;
      border-radius: 20px;
}
.fade {
	animation: fade .5s;
	-webkit-animation: fade .5s;
      max-width: 500px;
}
.active {

	box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.8);
}
@keyframes fade {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}

  @media (max-width: 1050px){
      .section-fall {
            &__container {
            max-width: 90%
            }
      }

      .section-guides {
            &__container {
                  max-width: 90%;
            }
      }

      .section-pads {
            &__container {
            max-width: 90%;
            }
      }
      .footer {
            max-width: 90%;
      }
}

  @media (max-width: 992px) {
      .header__burger-btn {
          display: block;
      }
      .menu {
          position: absolute;
          left: -1000px;
          top: 0;
          width: 1000px;
          background-color: rgb(82, 82, 255);
          padding: 75px 20px 20px 20px;
          transition: transform .1s;
      }
      .menu__list {
          display: block;
      }
      .menu__link {
          color: white;
          font-size: 21px;
          display: block;
          padding: 10px 0;
      }
      .header.open .menu {
          transform: translateX(100%);
      }
  }

  @media (max-width: 890px){
      .section-fall {
            &__img {
            display: none;
            }

            &__text {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
            gap: 20px
            }
      }
}
@media (max-width: 768px){

      .section-guides {
      margin-bottom: 50px;
            &__pads {
            margin: 0 auto;
            flex-direction: column;
            }

            &__pad {
            max-width: 100%;
            margin-bottom: 50px;
            }

            &__pad-title {
            font-size: 24px;
            line-height: 28px;
            }

            &__pad-img {
            margin: 0 auto;
            }
      }

      .section-pads {
            &__pads-info {
            flex-direction: column;
            margin-bottom: 10px;
            }

            &__padimg {
            max-width: 70%;
            margin: 0 auto;
            }

            &__big-pad-info {
            margin: 0 auto;
            gap: 20px;
            max-width: 100%;
            }

            &__pad-description {
            text-align: center;
            }
      }

      
}

@media (max-width: 500px){
      .slider {
            max-width: 90%;
      }
      .accordion {
            width: 80%;
      }
      .description-text {
            font-size: 20px;
            line-height: 24px;

      }
}
@media (max-width: 425px){
      .section-pads {
            &__pad-description {
            font-size: 20px;
            line-height: 28px;
            }
      }
}





